
* { padding: 0px; margin: 0px; }
/********************************/
.header{
	height: 80px;

}

.logo {

	text-decoration: none;
	background-color: #2ECC71;
	color: #eeee;
	font-size: 20px;
	font-family: sans-serif;

	padding: 15px;
	margin: 10px;
	position: absolute;
	box-shadow: 2px 2px 2px #ededed;
	border-radius: 25px;
}

/********************************/
.navigationMenu {
	
	display: flex;
	justify-content: center;
	padding-top: 20px;

}

.navigationMenu a {

	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;

	color: #212F3D;
	padding: 10px;
	float: left;

}

.navigationMenu a .linefooter {
	display: none;
}

.navigationMenu a:hover {

	color: #2ECC71;

}

.navigationMenu a:hover .linefooter {

	display:block;

}

/**********************************/

.content {

	background-color: #ededed;
	text-align: center;
}

.contentImage {
	position: relative;
	text-align: center;

}

.imageText {

	position: absolute;
	top: 80%;
	left: 32%;

	font-size: 30px;
	font-family: sans-serif;
	font-weight: 700;
	color: #2ECC71;
}

.flex-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 18px;
	font-family: sans-serif;

}

.flexcard {
	box-sizing: border-box;
	text-align: justify;
	background-color: #ffff;

	margin: 10px;
	padding: 10px;
	width: 350px;
	border-radius: 25px;
}

.flexcard h3 {
	text-align: center;
	line-height: 50px;
	color: #2ECC71;
}

.flexAbout {

	width: 50%;
	box-sizing: border-box;
	text-align: justify;

	margin: 10px;
}

.flexAbout h3 {

	text-align: center;
	line-height: 50px;
	color: #2ECC71;
}

/************************************/

.footer {

	background-color: #212F3D;


	font-size: 18px;
	font-family: sans-serif;
	color: #eeee;
}

.footerContent {

	display: flex;
	justify-content: center;
}

.footer1, .footer2, .footer3 {

	margin: 20px;
	width: 30%;

	text-align: justify;
	line-height: 30px;

}

.linefooter {

	background-color: #2ECC71;
	border: none;
	border-radius: 25px;
	margin-bottom: 20px;
	margin-top: 5px;
}

.footer2 {

	text-align: center;
}

.footer2 hr{
	margin: auto; margin-top: 5px;
}

.footer2 ul {
	list-style: none;
	margin: 10px;
	
}
.footer2 li {
	padding: 5px;
}
.footer2 a {
	
	text-decoration: none;
	color: #eeee;

}

.footerinfo {

	width: 100%;
	padding-top : 20px;
	padding-bottom: 20px;
}
